{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Shortlink plugin for Craft CMS 4.x
 *
 * Shortlink shortlink-settings.twig
 *
 * @author    percipio.london
 * @copyright Copyright (c) 2022 Percipio Global Ltd.
 * @link      https://percipio.london
 * @package   Shortlink
 * @since     1.0.0
 */
#}

{% requirePermission 'shortlink:plugin-settings' %}

{% extends 'shortlink/_layouts/shortlink-cp' %}
{% import '_includes/forms' as forms %}

{% do view.registerAssetBundle('percipiolondon\\shortlink\\assetbundles\\shortlink\\ShortlinkAsset') %}

{% set tabs = {
    general: { label: 'General Settings'|t('shortlink'), url: '#general' },
    generation: { label: 'Generate Settings'|t('shortlink'), url: '#generation' },
    redirects: { label: 'Redirect Settings'|t('shortlink'), url: '#redirects' },
} %}

{% set docs = 'https://percipio.london/plugins/shortlink' %}
{% set siteColumn = [] %}
{% if craft.app.getIsMultiSite() %}
    {% set allSiteOptions = [{value: '', label: 'All Sites'|t('shortlink')}]|merge(siteOptions) %}
    {% set siteColumn = {
        siteId: {
            type: 'select',
            heading: 'Site'|t('blitz'),
            options: allSiteOptions,
            thin: true,
        }
    } %}
{% endif %}

{% block actionButton %}

    <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">

{% endblock %}

{% block content %}

    <input type="hidden" name="action" value="shortlink/settings/save-plugin-settings">
    <input type="hidden" name="pluginHandle" value="shortlink">

    {{ redirectInput('shortlink/plugin') }}

    <div id="general">

        <div class="flex">
            <div class="flex-grow">
                {% set cols = siteColumn|merge({
                    shortlinkUrl: {
                        type: 'autosuggest',
                        heading: 'Shortlink URL'|t('shortlink'),
                        placeholder: "Enter your shortlink site url."|t('shortlink'),
                        code: true,
                        info: 'The shortlink URL that can be used to redirect to your entries.',
                        suggestEnvVars: true,
                    }
                }) %}

                <input type="hidden" name="shortlinkUrls" value="" />
                {% set info %}
                    {{ 'Add your owned shortlink urls.'|t('shortlink') }}
                {% endset %}
                {{ forms.editableTableField({
                    label: "URLs"|t('shortlink'),
                    instructions: "The shortlink URLs."|t('shortlink'),
                    name: 'shortlinkUrls',
                    id: 'shortlink-urls',
                    cols: cols,
                    rows: settings.shortlinkUrls,
                    addRowLabel: "Add a shortlink URL"|t('shortlink'),
                    allowAdd: true,
                    allowDelete: true,
                    allowReorder: true,
                }) }}
            </div>
        </div>

    </div>

    <div id="generation" class="hidden">
        {{ forms.selectField({
            label: 'Link generation characters'|t('shortlink'),
            instructions: 'Select your link generation characters, possibilities are alpha, numeric, alpha-numeric'|t('shortlink'),
            suggestEnvVars: true,
            id: 'shortlink-alphaNumeric',
            name: 'alphaNumeric',
            value: settings.alphaNumeric,
            options: {
                'alpha': 'Alpha Only'|t('shortlink'),
                'numeric': 'Numeric Only'|t('shortlink'),
                'alphaNumeric': 'Alpha Numeric'|t('shortlink'),
            },
            required: true,
        }) }}

        {{ forms.selectField({
            label: 'Link generation casing'|t('shortlink'),
            instructions: 'Select if you want lowercase, uppercase or a combination of both'|t('shortlink'),
            suggestEnvVars: true,
            id: 'shortlink-casing',
            name: 'casing',
            value: settings.casing,
            options: {
                'lowercase': 'Lowercase'|t('shortlink'),
                'uppercase': 'Uppercase'|t('shortlink'),
                'mixed': 'Mixed'|t('shortlink'),
            },
            required: true,
        }) }}

        {{  forms.textField({
            label: 'Minimum link Length'|t('shortlink'),
            instructions: 'The minimum link of the generated link'|t('shortlink'),
            suggestEnvVars: true,
            id: 'shortlink-minlength',
            name: 'minLength',
            value: settings.minLength,
            required: false,
        }) }}

        {{  forms.textField({
            label: 'Maximum link Length'|t('shortlink'),
            instructions: 'The maximum link of the generated link'|t('shortlink'),
            suggestEnvVars: true,
            id: 'shortlink-maxlength',
            name: 'maxLength',
            value: settings.maxLength,
            required: false,
        }) }}

        {{ forms.lightswitchField({
            label: "Allow custom values?"|t('shortlink'),
            instructions: 'Select this if you want to allow custom values to be entered as shortlink.',
            id: 'shortlink-allow-custom',
            name: 'allowCustom',
            on: settings.allowCustom,
        }) }}
    </div>

    <div id="redirects" class="hidden">
        {{ forms.selectField({
            label: 'Default redirect behavior'|t('shortlink'),
            instructions: 'Choose the default redirect behavior, permanent (301) or temporary (302)'|t('shortlink'),
            suggestEnvVars: true,
            id: 'shortlink-redirect',
            name: 'redirectType',
            value: settings.redirectType,
            options: {
                '301': 'Permanent'|t('shortlink'),
                '302': 'Temporary'|t('shortlink'),
            },
            required: true,
        }) }}

        {{ forms.lightswitchField({
            label: "Redirect Query Strings?"|t('shortlink'),
            instructions: 'If query string values should be taken into consideration or ignored.',
            id: 'shortlink-redirect-query-strings',
            name: 'redirectQueryString',
            on: settings.redirectQueryString,
        }) }}

        {{ forms.selectField({
            label: 'Broken shortlink behavior'|t('shortlink'),
            instructions: 'If the shortlink doesn\'t exist or is deleted, select the behaviour.'|t('shortlink'),
            suggestEnvVars: true,
            id: 'shortlink-redirect-behavior',
            name: 'redirectBehavior',
            value: settings.redirectBehavior,
            options: {
                'homepage': 'Homepage'|t('shortlink'),
                '404': '404 Error Page'|t('shortlink'),
            },
            required: true,
        }) }}
    </div>

{% endblock %}
