{%- requirePermission "shortlink:dashboard" -%}

{%- extends '_layouts/cp.twig' -%}

{%- block head -%}

    {{- parent() -}}

    {%- set tagOptions = {
        'depends': [
            'percipiolondon\\shortlink\\assetbundles\\shortlink\\ShortlinkAsset'
        ]
    } -%}

    {{- craft.shortlink.register('src/js/shortlink.ts', false, tagOptions) -}}

{%- endblock -%}

{% block actionButton %}
    <div class="buttons">
        <a href="{{ cpUrl('shortlink/custom-shortlinks/add') }}" class="btn submit add icon">{{ "New Custom Shortlink"|t("shortlink") }}</a>
    </div>
{% endblock %}

{%- set content -%}

    {%- set httpCode = {
        '301': 'Permanent',
        '302': 'Temporary'
    } %}

    <div class="grid grid-cols-3 md:grid-cols-6 gap-x-4 bg-gray-100 p-4">
        <div>
            <span class="text-xs font-semibold text-gray-600 uppercase">Shortlink URI</span>
        </div>
        <div>
            <span class="text-xs font-semibold text-gray-600 uppercase">Destination URL</span>
        </div>
        <div class="hide md:block">
            <span class="text-xs font-semibold text-gray-600 uppercase">HTTP Code Type</span>
        </div>
        <div class="hide md:block">
            <span class="text-xs font-semibold text-gray-600 uppercase">Hits</span>
        </div>
        <div class="hide md:block">
            <span class="text-xs font-semibold text-gray-600 uppercase">Last Hit</span>
        </div>
        <div>
            <span class="text-xs font-semibold text-gray-600 uppercase">Actions</span>
        </div>
    </div>

    {%- if shortlinks|length > 0 -%}
        {%- for shortlink in shortlinks -%}
            <div class="grid grid-cols-3 md:grid-cols-6 gap-x-4 px-4 py-2">
                <div>
                    <span class="text-gray-600">{{- shortlink.shortlinkUri -}}</span>
                </div>
                <div>
                    <span class="text-gray-600">{{- shortlink.destination -}}</span>
                </div>
                <div class="hide md:block">
                    <span class="text-gray-600">{{- shortlink.httpCode }} {{ httpCode[shortlink.httpCode] ?? '' }}</span>
                </div>
                <div class="hide md:block">
                    <span class="text-gray-600">{{- shortlink.hitCount ?? '-' -}}</span>
                </div>
                <div class="hide md:block">
                    <span class="text-gray-600">{{- shortlink.lastUsed ? shortlink.lastUsed|date('Y-m-d') : '-' -}}</span>
                </div>
                <div>
                    <a href="{{- cpUrl('shortlink/custom-shortlinks/edit/'~shortlink.id) -}}">Edit</a>
                    |
                    <a href="{{- cpUrl('shortlink/custom-shortlinks/delete/'~shortlink.id) -}}">Delete</a>
                </div>
            </div>
        {%- endfor -%}
    {%- else -%}
        <div class="grid grid-cols-3 md:grid-cols-6 gap-x-4 px-4 py-2">
            <div class="col-span-3 md:col-span-6"><i>No custom shortlinks has been set yet</i></div>
        </div>
    {%- endif -%}

{%- endset -%}
