{% do view.registerAssetBundle('percipiolondon\\shortlink\\assetbundles\\shortlink\\ShortlinkAsset') %}
{%- set tagOptions = {
    'depends': [
        'percipiolondon\\shortlink\\assetbundles\\shortlink\\ShortlinkAsset'
    ]
} -%}
{{- craft.shortlink.register('src/js/shortlink.ts', false, tagOptions, tagOptions) -}}
{{- craft.shortlink.register('src/js/shortlink-field.ts', false, tagOptions, tagOptions) -}}

<div id="shortlink-generator">
    <shortlink-field
        :allow-custom="{{ allowCustom }}"
        label="{{ 'Shortlink'|t('shortlink') }}"
        redirectLabel="{{ 'Redirect Type'|t('shortlink') }}"
        redirect-type="{{ redirectType }}"
        shortlink="{{ shortlink }}"
        :show-redirect-option="{{ showRedirectOption }}"
    />
</div>
